<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Page</title>
</head>

<body>
    <div class="container">
        <div class="title"
            style="display: flex; width: 100%; height: auto; align-items: center; justify-content: center; font-size: 3vw;">
            List Page
        </div>
        <div class="add-member"
            style="display: flex; width: 100%; height: auto; font-size: 2vw; align-items: center; justify-content: flex-end;">
            +
        </div>
        <div class="list-container">
            <div class="title">
                
            </div>
        </div>
    </div>

</body>

</html>